@model Altimetrik_election__com.Models.ElectionUsersModel

@{
    ViewData["Title"] = "ElectionUsersCreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ElectionUsersCreateUser</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ElectionUsersCreateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Epassword" class="control-label"></label>
                <input asp-for="Epassword" class="form-control" />
                <span asp-validation-for="Epassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <label> @ViewBag.Status</label><br />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
